* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header-section {
  background-color: #555555;
  height: 120px;
  border-bottom: 1px solid #333333;
  margin: 0px;
  padding-top: 20px;
}

h1 {
  margin: 0 20px 20px 20px;
  text-transform: uppercase;
  font-weight: 900;
  color: black;
}

#nav-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 10px;
}

#nav-section a {
  background-color: #eaeaea;
  margin-right: 10px;
  padding: 6px 12px;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 800;
  color: black;
}

#nav-section a:hover {
  color: #333333;
  background-color: #f9f9f9;
}

#article-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 20px;
  padding: 0px;
}

.article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  border: 1px solid #dddddd;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  list-style-type: none;
  background-color: #f9f9f9;
}

.loading {
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.article-card h3 {
  color: #333333;
  font-size: 1.3em;
  margin-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
}

.article-card h3:hover, .article-card img:hover{
opacity: 80%;
}

.topic-name {
  color: #666666;
  font-style: italic;
  margin-bottom: 10px;
  height: 1.5rem;
  padding-top: 4px;
  border-top: 1px solid #dddddd;
  text-transform: capitalize;
}

.img-placeholder {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.vote-comments {
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 4px;
}

.date-posted,
.vote-count,
.comment-count {
  color: #555555;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.username {
  color: #555555;
  font-size: 0.9em;
  margin-bottom: 5px;
  font-weight: bold;
}

.article-title {
  margin: 20px;
  text-transform: uppercase;
  font-weight: 900;
  color: black;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.article-img {
  width:300px;
  float: left;
  margin: 0px 20px;
}

.article-body {
  margin: 0px 20px;
}

.article-section {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto;
}

.vote-comments-article {
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px 20px;
  border-bottom: 3px solid #dddddd;
}

@media only screen and (min-width:820px) {
  .vote-comments-article {
    padding:10px 100px;
    justify-content: space-around;
  }
}

.vote-button {
  border-radius: 30px;
  padding: 3px 6px;
  background-color: rgb(83, 180, 114);
  border: 0px;
  cursor: pointer;
}

.vote-button:disabled {
  background-color: #aebed3; 
  cursor: not-allowed;
}

.comment-card {
  background-color: #dddddd;
  border-radius: 6px;
  margin: 0px 20px 10px 20px;
  padding: 10px 20px;
}

.comment-title {
  margin: 0px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: 900;
  color: black;
  padding-bottom: 6px;
  border-bottom: 1px solid #dddddd;
}

.upvotes {
  background-color: #53c065;
  width:50px;
  font-size: small;
text-align: center;
padding: 2px 4px;
border-radius: 6px;
margin-top: 6px;
}

.upvotes:hover {
  cursor: pointer;
  background-color: #379a47;
}

.comment-footer-detail {
  width:300px;
  font-size: small;
text-align: left;
padding: 0px 4px;
margin-top: 6px;
color:#666666;
}

.comment-footer {
  border-top: 1px solid #999999;
  margin-top:6px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.post-comment-form {
  display: flex;
  flex-direction: row;
  width: calc(100%-20px);
  justify-content: center;
  align-items: baseline;
  margin-left: 20px;
}

.post-comment {
align-items: center;
margin-left:20px;
}

.post-comment-input {
  background-color: #ffffff;
  border: 2px solid #999999;
  border-radius: 6px;
  margin: 0px 20px 10px 10px; 
  padding: 15px 20px 0px 20px;
  flex-grow: 1; 
  resize: vertical;
}

.post-comment-input:hover {
  background-color: #f7fafc;
}

.post-comment-input:focus {
  background-color: #eef3fa;
  border: 2px solid #2283eb;
}

.post-comment-btn {
  background-color: #2283eb; 
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 0px 20px 10px 0px;
  cursor: pointer;
}

.post-comment-btn:hover {
  background-color: #186ecb; 
}

.post-comment-btn:disabled {
  background-color: #aebed3; 
  cursor: not-allowed;
}
